body {
  margin: 0;
  padding: 0;
}

.VVV {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95%;
  background-color: red;
}

.cimsor {
  position: absolute;
  justify-content: center;
  text-align: left;
  vertical-align: middle;
  height: 5%;
  width: 100%;
  background-color: blue;
}

.Szoveg {
  background-color: purple;
  height: calc(95vh - 20px);
  width: 100%;
  padding: 10px;
  color: white;
}

.Sorok {
  background-color: aqua;
  height: calc(95vh - 20px);
  width: 5vh;
  padding: 10px;
  pointer-events: none;
  user-select: none;
  text-align: right;
}

.valodi {
  display: flex;
  gap: 0;
  flex-direction: row;
  position: relative; /* Hozzáadva, hogy a .valodi-overlay elmozdítható legyen */
}

/* Az overlay div-re vonatkozó stílusok */
.valodi-overlay {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Átlátszó a kattintások számára */
  z-index: 1; /* Biztosítja, hogy a .valodi felett legyen, de alatta maradjon */
}

.valodi-overlay .Szoveg,
.valodi-overlay .Sorok {
  background-color: transparent; /* Átlátszó háttér */
}

#vSzovegOverlay {
  color: red;
}

.RSzoveg {
  width: 100%;
  height: 100%;
}